@model List<webshop.Models.CartItemModel>


@{
    ViewData["Title"] = "Cart";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is where you can see everything you have put in your cart!</p>

<!--<div class="products-container">-->

@foreach(var product in Model)
{

    <span style="white-space: nowrap">
    <h3><a class="bold" href="/products/get/@(product.ProductId)">@(product.Brand)
    <span class="model">@(product.Model)</span>
    </a></h3>
    </span>
    <img class="thumbnail" src="/images/products/@(product.Image)" alt="image of product">
    <p class="price">Price: $@(product.Price)</p>
    <p>Quantity: @(product.Quantity)</p>
    <p>Product id: @(product.ProductId)</p>
    <form action="/cart/removefromcart/@(product.ProductId)" method="post">
    <input type="submit" value="Remove Item" />
    </form>
    <br/>
    <br/>
}

<!--</div>-->