@model ProductsViewModel

@{

    ViewData["Title"] = "Create";

}

<h2>Create</h2>

@using (Html.BeginForm())
{

    @Html.LabelFor(m => m.Brand)
    @Html.TextBoxFor(m => m.Brand)
    <br>
    @Html.LabelFor(m => m.Model)
    @Html.TextBoxFor(m => m.Model)
    <br>
    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price)
    <br>

    <button type="submit">Create!</button>
}