@model webshop.Models.CheckoutItemModel

@{
   ViewData["Title"] = "Checkout";

}

@if(Model != null) 
{
    var cartId = Model.Cart[0].CartId;

    if(!string.IsNullOrEmpty(Model.Message))
    {
        <p>@Model.Message</p>
    }

    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <h4>This is what your cart is currently containing. Are you ready to checkout?</h4>

    foreach(var product in Model.Cart)
    {
        <div class="product-container">

        <div class="box">
        <span style="white-space: nowrap">
        </span>
        <img class="thumbnail small" src="/images/products/@(product.Image)" alt="image of product">
        </div>

        <div class="box">
        <h3><a class="bold" href="/products/get/@(product.ProductId)">@(product.Brand) <br>
        <span class="model">@(product.Model)</span>
        </a></h3>
        </div>

        <div class="box">
        <p class="price">Price: $@(product.Price)</p>
        </div>
    
        <div class="box">
        <p>Quantity: @(product.Quantity)</p>
        </div>

        <div class="box">
        <p>Product id: @(product.ProductId)</p>
        </div>

        <div class="box">
        <form action="/cart/removefromcart/@(product.ProductId)" method="post">
        <input type="submit" value="Remove Item" />
        </form>
        </div>
    
        </div>
    }

    <h3>Total cost: $@(Model.Sum)</h3>

    using (Html.BeginForm( "PlaceOrder", "Checkout" ))
    {

      <input type="hidden" name="sum" value="@Model.Sum">

      <p>First Name:</p>
      <input type="text" name="firstname" required><br>
        
      <p>Last Name:</p>
      <input type="text" name="lastname" required><br>
        
      <p>E-Mail:</p>
      <input type="text" name="email" required><br>
        
      <p>Street Adress:</p>
      <input type="text" name="adress" required><br>
        
      <p>Zip Code:</p>
      <input type="number" name="zipcode" required><br>
        
      <p>Payment Method:</p>
      <input type="text" name="payment" required>
        
      <input type="submit" value="Place Order" class="placeOrder">

    }
}
else
{
    <h3>You have not put anything in your cart yet.</h3>

   <h4> <a class="bold" href="/products">Proceed to the products page and find some cool stuff to put in here!</a> </h4>
}
  

    
