@model webshop.Models.CheckoutItemModel

@{
   ViewData["Title"] = "Checkout";
   var cartId = Model.Cart[0].CartId;
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is where you pay when you are done shopping!</p>

@foreach(var product in Model.Cart)
{

    <div class="product-container">

    <span style="white-space: nowrap">
    </span>
    <img class="thumbnail small" src="/images/products/@(product.Image)" alt="image of product">
    <h3><a class="bold" href="/products/get/@(product.ProductId)">@(product.Brand)
    <span class="model">@(product.Model)</span>
    </a></h3>
    <p class="price">Price: $@(product.Price)</p>
    <p>Quantity: @(product.Quantity)</p>
    <p>Product id: @(product.ProductId)</p>
    <form action="/cart/removefromcart/@(product.ProductId)" method="post">
    <input type="submit" value="Remove Item" />
    </form>
    <br/>
    <br/>
    </div>
}

<p>Total cost: $@(Model.Sum)</p>
<p>Total cost: $@cartId</p>

@using (Html.BeginForm( "PlaceOrder", "Checkout" ))
{
  <input type="hidden" name="cartId" value="@cartId">
  <input type="hidden" name="sum" value="@Model.Sum">

  <p>First Name:</p>
  <input type="text" name="firstname"><br>
    
  <p>Last Name:</p>
  <input type="text" name="lastname"><br>
    
  <p>E-Mail:</p>
  <input type="text" name="email"><br>
    
  <p>Street Adress:</p>
  <input type="text" name="adress"><br>
    
  <p>Zip Code:</p>
  <input type="number" name="zipcode"><br>
    
  <p>Payment Method:</p>
  <input type="text" name="payment">
    
  <input type="submit" value="Place Order">

}



  

    
